
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url('../img/FondoPikachu.png');
    position: cover;
    background-repeat: no-repeat;
}

#animar, #animar2{
    margin: 500px;
}

#character {
    position: relative;
    width: 200px;
    height: 400px;
}

#character div {
    position: absolute;
    transition: all 1s ease;
}

#cuerpo img {
    width: 500px;
    height: auto;
}

#brazo-izquierdo img,
#brazo-derecho img {
    width: 110px;
    height: auto;
}

#brazo-izquierdo {
    left: -100px;
    top: 150px;

}

#brazo-derecho {
    right: -400px;
    top: 150px;
}

#ojo-izquierdo img,
#ojo-derecho img {
    width: 60px;
    height: 60px
}

#ojo-izquierdo {
    left: -50px;
    top: 50px;
}

#ojo-derecho {
    right: -50px;
    top: 50px;
}

#boca img {
    width: 120px;
    height: auto;
}

#boca {
    top: -50px;
    left: 50px;
}

#nariz {
    top: -50px;
    left: 75px;
}

#cola img {
    width: 250px;
    height: auto;
}

#cola {
    bottom: -200px;
    left: -100px;

}
